.app {
    font-family: Arial, sans-serif;
    text-align: center;
}



.main-panel{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.canvas-container {
    border: 3px solid black;
    width: 90vw;
    height: 70vh;
    margin-left: 5%;

}

canvas {
    display: block;
    border: none;
}
